USE [master]
GO
/****** Object:  Database [LogDb]    Script Date: 04.03.2024 2:04:34 ******/
CREATE DATABASE [LogDb]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LogDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LogDb]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 04.03.2024 2:04:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[LogDateTime] [datetime] NOT NULL,
	[LogLevelName] [nvarchar](50) NOT NULL,
	[LogMessage] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
