USE [master]
GO
/****** Object:  Database [remote_db]    Script Date: 18.04.2024 22:49:20 ******/
CREATE DATABASE [remote_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'remote_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\remote_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'remote_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\remote_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [remote_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [remote_db]
GO
/****** Object:  Table [dbo].[users]    Script Date: 18.04.2024 22:49:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_telegram_id] [nvarchar](150) NOT NULL,
	[user_login] [nvarchar](150) NOT NULL,
	[user_password] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[user_telegram_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
